.gallery-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
}

.galley-page header H1 {
  align-items: baseline;
}

.gallery-component {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
}

.img-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  flex: 1 1 100%;
  width: 100%;
  box-sizing: border-box;
}

.gallery-img-wrapper {
  height: 300px;
  width: 400px;
  /* background-color: red; */
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  /* Ensures the image doesn't overflow the container */
}

.gallery-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}