@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply text-white;
}

/* Navigation */
.nav-link,
.nav-link:focus {
  @apply text-white;
}

.nav-link:hover {
  @apply bg-slate-700;
}

.selected {
  @apply bg-wdcc-blue-to-sesa-teal text-white;
}

/* About */
.link {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.main-container {
  position: relative;
  width: 100%;
  height: 550px;
  min-width: fit-content;
}

@media (max-width: 768px) {
  .main-container {
    height: 550px;
  }
}

@media (max-width: 480px) {
  .main-container {
    height: 450px;
  }
}

.card {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s ease;
}

.front-card,
.back-card {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.back-card {
  transform: rotateY(180deg);
}

.flipped {
  transform: rotateY(180deg);
}
